.products-page {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    gap: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* Sidebar */
.sidebar {
    width: 250px;
    flex-shrink: 0;
}

.sidebar h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.sidebar li {
    padding: 8px 0;
    cursor: pointer;
}

.sidebar li:hover {
    color: #c49a6c;
}

/* Content */
.products-content {
    flex: 1;
    margin: 20px 0 0 0;
}

.products-content h3 {
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;


}

/* Grid 4x3 */
.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 30px 0;
    width: 100%;
}

.pagination button {
    margin-left: 5px;
    padding: 6px 12px;
}

.pagination .active {
    background: #000;
    color: #fff;
}

.price .new {
    font-weight: bold;
    color: #e74c3c;
}

.price .old {
    color: #999;
    text-decoration: line-through;
    font-size: 14px;
}