.hot-deals {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.hot-deals h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.deals-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

/*  3 cột */
@media (max-width: 1200px) {
    .deals-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* 2 cột */
@media (max-width: 768px) {
    .deals-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*  1 cột */
@media (max-width: 480px) {
    .deals-container {
        grid-template-columns: 1fr;
    }
}