.footer {
    width: 100%;
    background-color: #2a6655;
    padding: 40px 0;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;

    display: flex;
    justify-content: space-between;
    gap: 40px;
}

/* mỗi cột */
.top-footer {
    flex: 1;
}


.top-footer .title p {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: white;
}


.top-footer .contend p {
    font-size: 14px;
    color: #9cb7af;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* link trong footer */
.top-footer .contend a {
    text-decoration: none;
    color: #9cb7af;
}

.top-footer .contend a:hover {
    color: #2e8b57;
}
