
.header-container{
  font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
  justify-content: space-between;
  width: 100%;

}
.top-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 12px 40px;
  box-sizing: border-box;
}
.search {
  flex: 2;
  position: relative;
  background-color: #f7f9fa;
  border-radius: 20px;
  overflow: hidden;
  margin-left: -50px;
}

.input-type {
  border: none;
  width: 100%;
  height: 55px;
  background-color: #f7f9fa;
  padding: 0 40px 0 16px; /* chừa chỗ icon */
  outline: none;
  border-radius: 20px;
}

.icon-search{
  color: cadetblue;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);

}
.logo {
  flex: 1;
  margin-left: 20px;
}

.logo img{
  height: 50px;
  width: 100px;
}
.acc-cart{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  margin-right: 50px;
}
.account a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}


.account a:hover {
  color: #2e8b57;
}


.cart {
  color: red;
  font-size: 20px;
  cursor: pointer;
}
.navigation {
  width: 100%;
  background-color: #fff;
}

.nav-list {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;

  display: flex;
  align-items: center;

  list-style: none;
  height: 50px;
}

.nav-list li {
  flex: 1;              /* ⭐ tản đều */
  text-align: center;
}

.nav-list li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 15px;
  padding: 8px 0;
  display: inline-block;
}

.nav-list li a:hover {
  color: #2e8b57;
}


.nav-list li a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 15px;
  padding: 5px 0;
  transition: color 0.3s ease;
}

.nav-list li a:hover {
  color: #2e8b57;
  border-bottom: 2px solid #2e8b57;
}
